<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>xiuniangserver</display-name>
  	
  	<!--  
	<context-param>
		<param-name>weblogic.httpd.inputCharset./*</param-name>
		<param-value>gb2312</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.ailk.wxserver.util.spring.SpringBeanLoaderListener</listener-class>
	</listener>
	-->
	
	
	<servlet>
		<servlet-name>VipOrderInfoServlet</servlet-name>
		<servlet-class>com.xiuniang.xiuniang_server.servlet.VipOrderInfoServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DianyuanInfoServlet</servlet-name>
		<servlet-class>com.xiuniang.xiuniang_server.servlet.DianyuanInfoServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SyncVipInfoServlet</servlet-name>
		<servlet-class>com.xiuniang.xiuniang_server.servlet.SyncVipInfo2EfastServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DianyuanInfoServlet</servlet-name>
		<url-pattern>/servlet/DianyuanInfoServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VipOrderInfoServlet</servlet-name>
		<url-pattern>/servlet/getviporderbytime</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SyncVipInfoServlet</servlet-name>
		<url-pattern>/servlet/syncVipInfo</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>
			test.html
		</welcome-file>
	</welcome-file-list>
	
</web-app>